body{
    color:aliceblue;
    background-color:rgb(25, 25,25);
    font-family: Arial, Helvetica, sans-serif;
}

.moveimg{
    height: 100px;
    background: transparent;
    border: 2px solid black;
    border-radius: 50px;
    cursor: pointer;

}

button{
    background: transparent;
    border: transparent;
}

.compareimg{
    height: 50px;
}

.resetbutton{
    padding: 10px;
    font-size: medium;
    background-color:darkgray;
    color:red;
    cursor: pointer;
}

.yourmove{
    font-weight: bold;
    font-size: large;
}